#footer {
    background-color: #e6efff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}

#footer_content {
    color: #333;
    font-size: 14px;
    font-family: 'Helvetica Neue', sans-serif;
}
